
@font-face {
  font-family: 'PingFangSC-Semibold';
  src: url('./font/PingFangSC Semibold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'PingFangSC-Regular';
  src: url('./font/PingFang Regular.ttf');
  font-weight: normal;
  font-style: normal;
}