/*内容创作、内容编辑多个模块使用*/

#create-create {
  background-color: #f5f5f5;
  position: absolute;
  left: 20px;
  top:0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  .contents-top{
    .write-box{
      position: absolute;
      left: 0;
      right: 460px;
      top:0;
      bottom:98px;
      overflow: auto;
      margin:20px 0 10px;
      background-color: #ffffff;
      .el-tabs__header{
        margin: 0;
      }
      .write-title{
        margin:0 30px;
        padding-top: 19px;
        padding-bottom: 10px;
        position: relative;
        input{
          border:none;
          border-bottom:1px solid #DDDDDD;
          height: 44px;
          width: 100%;
          font-size: 24px;
          color: #333333;
          font-weight: bolder;
          padding:0 85px 0 10px;
          box-sizing: border-box;
        }
        span{
          font-size: 24px;
          color: #999999;
          line-height: 42px;
          position: absolute;
          right: 0;
          top:20px;
          padding:0 10px;
          background-color: #ffffff;
        }
      }
      .video-check-box{
        max-width: 660px;
        height: 370px;
        margin: 0 auto;
        background: #D6D6D6;
        h2{
          font-size: 24px;
          color: #4D7CFE;
          letter-spacing: 0;
          text-align: center;
          line-height: 24px;
          padding:145px 0 28px;
        }
        .add{
          text-align: center;
          .btn2{
            vertical-align: top;
            margin-right: 0;
            &.disabled{
              background-color: #666;
              border-color: #666;
              cursor: not-allowed;
            }
          }
          .upload{
            display: inline-block;
            width: 150px;
            text-align: left;
          }
        }
      }
      .video-check-box2{
        max-width: 660px;
        margin: 0 auto;
        video{
          width: 100%;
          margin-bottom: 20px;
        }
      }
      .link-article{
        padding: 10px 30px;
        .write-title{
          margin:0 0 10px;
        }
        .item{
          padding: 0 0 30px;
          .input{
            position: relative;
            margin-right: 220px;
            input{
              padding:0 10px;
            }
            .btn{
              width: 62px;
              margin: 0;
              position: absolute;
              top:0;
              right: -110px;
            }
            .btn-new {
              right: -220px;
            }
          }
        }
        .link-iframe{
          width: 100%;
          height: 380px;
          box-sizing: border-box;
          background: #F5F5F5;
          border: 1px solid #DDDDDD;
          border-radius: 4px;
          &.no-content p{
            text-align: center;
            font-size: 14px;
            color: #999999;
            padding-top: 180px;
          }
        }
      }
    }
    .publish-box{
      position: absolute;
      right: 20px;
      top:0;
      bottom:0;
      overflow: auto;
      margin:20px 0 0;
      width: 420px;
      background-color: #ffffff;
      .title{
        font-size: 14px;
        color: #333333;
        letter-spacing: 0;
        line-height: 14px;
        border-bottom: 2px solid #F5F5F5;
        padding:18px 20px 16px;
        margin-bottom: 20px;
      }
      .publish-article{
        padding-bottom: 20px;
      }
    }
    .item{
      padding:0 20px 20px;
      h3{
        font-size: 14px;
        line-height: 14px;
        color: #333333;
        padding-bottom: 15px;
        font-weight: normal;
      }
      .tip{
        font-size: 12px;
        color: #999999;
        line-height: 20px;
        margin-bottom: 20px;
      }
      .avatar-uploader{
        width: 112px;
        height: 90px;
        display: inline-block;
        &.big{
          width: 240px;
          height: 150px;
        }
      }
      .video-avatar{
        width: 140px;
        height: 105px;
        border: 1px solid #DDDDDD;
        margin-right: 10px;
        float: left;
      }
      .input{
        position: relative;
        margin-bottom: 10px;
        input,textarea{
          background: #F5F5F5;
          border: 1px solid #DDDDDD;
          border-radius: 4px;
          width: 100%;
          height: 32px;
          box-sizing: border-box;
          font-size: 12px;
          color: #333333;
          padding:0 50px 0 10px;
        }
        textarea{
          padding:10px;
          height: 70px;
        }
        span{
          position: absolute;
          right: 0;
          bottom:1px;
          font-size: 14px;
          color: #999999;
          line-height: 30px;
          padding:0 10px;
        }
      }
      .el-select{
        width: 180px;
      }
      .row{
        padding-bottom: 10px;
        line-height: 30px;
        &>span{
          font-size: 14px;
          color: #333333;
        }
      }
    }
  }
  .contents-bottom{
    position: absolute;
    left: 0;
    bottom:0;
    right: 460px;
    .word-num{
      //position: absolute;
      //left: 20px;
      //top:34px;
      float: left;
      padding:0 0 0 20px;
      font-size: 12px;
      color: #999999;
      letter-spacing: 0;
      line-height: 30px;
      font-weight: bolder;
    }
    .btns{
      text-align: center;
      background-color: #ffffff;
      padding:34px 0;
      .btn{
        color: #4D7CFE;
        border-color: #4D7CFE;
        padding:0 28px;
        margin:0 5px;
        min-width: 42px;
        &.active{
          background: #4D7CFE;
          border-color: #4D7CFE;
          color: #FFFFFF;
        }
      }
    }
  }

  .btn{
    display: inline-block;
    padding:0 18px;
    font-size: 12px;
    margin:0 10px 10px 0;
    background-color: #ffffff;
    border: 1px solid #DDDDDD;
    color: #999999;
    height: 28px;
    line-height: 28px;
    text-align: center;
    &.active{
      background: #4D7CFE;
      border-color: #4D7CFE;
      color: #FFFFFF;
    }
  }
  .btn2{
    display: inline-block;
    padding:0 18px;
    font-size: 12px;
    margin:0 10px 10px 0;
    border: 1px solid #4D7CFE;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: #4D7CFE;
    color: #FFFFFF;
    min-width: 62px;
  }
  .btn3{
    display: inline-block;
    padding:0 18px;
    font-size: 12px;
    margin:0 10px 10px 0;
    border: 1px solid #4D7CFE;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: #ffffff;
    color: #4D7CFE;
    min-width: 62px;
  }

  .insert-image-model{
    .el-dialog{
      width: 800px !important;
    }
    .el-dialog__body{
      padding: 5px 30px 20px;
    }
    .content,.content .operate{
      margin-top: 0 !important;
      padding: 0 !important;
    }
    .scroll{
      height: 400px;
      padding:2px;
    }
    .list{
      li{
        float: left;
        width: 222px;
        height: 220px;
        background: #ffffff;
        margin:0 20px 20px 0;
        cursor: pointer;
        .img{
          height: 166px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          position: relative;
          p{
            position: absolute;
            left: 0;
            bottom:0;
            width: 100%;
            height: 30px;
            line-height: 30px;
            margin: 0;
            padding: 0;
            background-image: linear-gradient(-180deg, rgba(98,98,98,0.00) 0%, rgba(0,0,0,0.5) 100%);
            span{
              font-size: 12px;
              color: #FFFFFF;
              float: left;
              margin-left: 10px;
            }
            .author{
              float: right;
              margin-right: 10px;
            }
          }
          .icon-video{
            position: absolute;
            left: 50%;
            top:50%;
            margin:-26px 0 0 -26px;
          }
        }
        p{
          height: 23px;
          line-height: 23px;
          font-size: 12px;
          color: #999999;
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
          padding-top: 5px;
        }
        &>span{
          display: block;
          font-size: 12px;
          color: #999999;
          line-height: 23px;
          height: 23px;
          overflow: hidden;
          i{
            font-style: normal;
          }
        }
        &.active .img{
          box-shadow: 0 0 0 3px #4D7CFE;
        }
      }
      .has-no{
        width: 100%;
        border: none;
        margin: 0;
        padding: 80px 0 0;
        text-align: center;
        p{
          font-size: 12px;
          color: #999999;
          margin-top: 40px;
        }
      }
    }
    .page{
      padding-top: 0 !important;
    }

    .upload-box{
      padding: 70px 0;
      .avatar-uploader{
        margin: 0 auto;
      }
      &>h3{
        font-size: 12px;
        color: #333333;
        font-weight: bolder;
        text-align: center;
       padding: 30px 0 24px;
      }
      &>p{
        text-align: center;
        font-size: 12px;
        color: #999999;
      }
    }
    .video-url{
      text-align: center;
      padding-bottom: 30px;
      &>span{
        font-size: 14px;
        color: #333333;
        margin-right: 20px;
      }
      .el-button{
        margin-left: 20px;
      }
    }
    .video-box{
      width: 500px;
      min-height: 300px;
      margin: 0 auto;
      video{
        width: 100%;
      }
    }
    .video-cover-upload{
      padding: 15px 0 70px;
      .top{
        padding-bottom: 20px;
        .upload{
          display: inline-block;
        }
        &>span{
          font-size: 12px;
          color: #999999;
          margin-left: 10px;
        }
      }
      .preview{
        &>div{
          float: left;
        }
        .cropper-box{
          width: 325px;
          height: 245px;
          position: relative;
        }

        .preview-box{
          width: 190px;
          padding-left: 84px;
          h3{
            font-size: 12px;
            color: #333333;
            letter-spacing: 0;
            line-height: 12px;
            margin-bottom: 18px;
            text-align: center;
          }
          img{
            max-width: none;
          }
          .pic{
            background: #DDDDDD;
            width: 190px;
            height: 122px;
            position: relative;
            span{
              font-size: 12px;
              color: #333333;
              line-height: 14px;
              position: absolute;
              top:50%;
              left: 0;
              width: 100%;
              text-align: center;
              margin-top: -7px;
            }
          }
        }
      }
    }
  }
}
