.article-detail {
    width: 100%;
    height: 100%;
    background: rgba(244, 244, 244, 1);
    padding-top: 100px;
    .content-box {
      width: 1200px;
      background: rgb(255, 255, 255);
      margin: 0 auto;
      padding: 0 84px;
  
      .article-box {
          width: 1032px;
          padding-top: 40px;
          padding-right: 2px;
          border-bottom: 1px solid #ededed;
        //   position: relative;
          .article-head {
              .article-title {
                  height: 33px;
                  margin: 20px 0 10px 0;
                  p {
                      height: 100%;
                      font-size: 24px;
                      font-weight: 600;
                      color: #333;
                      line-height: 33px;
                  }
              }
              .article-from {
                font-size: 14px;
                font-weight: 400;
                color: #999;
                line-height: 20px;
                  a{
                      margin-right: 30px;
                      cursor: pointer;
                  }
                  
              }
              
          }
          .article-body {
              width: 100%;
              margin: 35px 0 19px 0;
          }
          .article-footer {
              width: 100%;
              height: 60px;
              font-size: 14px;
              font-weight: 400;
              color: #999;
              p {
                line-height: 26px;
              }
          }
          .sc {
              height: 20px;
              float: right;
              margin: 21px 7px 0 0;
              img{
                  width: 16px;
                  height: 16px;
              }
              span {
                display: inline-block;
                font-size:14px;
                font-weight:400;
                height: 20px;
                color:rgba(153,153,153,1);
                line-height: 20px;
                margin-left: 6px;
              }
          }
      }

      .recommend {
          width: 1030px;
          margin: 60px 0 18px;
          .recommend-head {
              height:22px;
              span {
                  display: inline-block;
                  width:4px;
                  height:20px;
                  background:rgba(10,151,237,1);
                  border-radius:3px;
                  vertical-align: middle;
                  margin-right: 8px;
              }
              p{
                  display: inline-block;
                  height: 22px;
                  font-size:16px;
                  font-weight:400;
                  color:rgba(51,51,51,1);
                  line-height:22px;
                 
              }
          }
          .recommend-article {
              width: 100%;
              height: 160px;
              margin-top: 18px;
              border-bottom: 1px solid #ededed;
              .left-img {
                  float: left;
                  width: 26.21%;
                  height: 140px;
                  img {
                      width: 100%;
                      height: 100%;
                  }
              }
              .right-text {
                  float: left;
                  width: 73%;
                  height: 140px;
                  padding-left: 30px;
                  .title {
                    height:29px;
                    font-size:21px;
                    font-weight:600;
                    color:rgba(51,51,51,1);
                    line-height:29px;
                  }
                  .text-box {
                      margin: 10px 0;
                      height:72px;
                      
                      p {
                        line-height:24px;
                        font-size:14px;
                        font-weight:400;
                        color:rgba(51,51,51,1);
                      }
                  }
                  .text-msg {
                    height:24px;
                      p {
                          float: left;
                          height:24px;
                          margin-right: 30px;
                          line-height: 24px;
                          color: #0A97ED;
                      }
                      div.article-from {
                          float: left;
                          height:24px;
                          font-size:12px;
                          font-weight:400;
                          color:rgba(153,153,153,1);
                          
                          span {
                            line-height:24px; 
                          }
                          span.time {
                              margin-left: 20px;
                          }
                      }
                  }
              }
          }
      }

      .comments {
          width: 1030px;
          margin-top: 18px;
          .comments-head {
            height:22px;
            span {
                display: inline-block;
                width:4px;
                height:20px;
                background:rgba(10,151,237,1);
                border-radius:3px;
                vertical-align: middle;
                margin-right: 8px;
            }
            p {
                display: inline-block;
                height: 22px;
                font-size:16px;
                font-weight:400;
                color:rgba(51,51,51,1);
                line-height:22px;
               
            }
        }
        .comment-inp-box {
            width: 1030px;
            height: 147px;
            padding: 19px 0 20px;
            border-bottom: 1px solid #ededed;
            position: relative;
            img {
                width: 44px;
                height: 44px;
                margin: 0 24px 17px 0;
                vertical-align: top;
            }
            // input {
            //     width: 960px;
            //     height: 60px;
            //     background:#F4F4F4;
            //     border-radius:2px;
            //     border:1px solid #E4E4E4;
            // }
            textarea {
                width: 960px;
                height: 60px;
                background:#F4F4F4;
                border-radius:2px;
                border:1px solid #E4E4E4;
                resize: none;
                padding: 10px;
            }
            button {
                background:rgba(10,151,237,1);
                border-radius:2px;
                font-size:14px;
                font-weight:400;
                color:rgba(255,255,255,1);
                line-height:20px;  
                padding: 6px 33px 4px 34px; 
                position: absolute;
                right: 0px;
                bottom: 16px;   
            }
        }
        .comments-show {
            width: 1030px;
            
            .comments-item {
                width: 100%;
                margin-top: 19px;
                border-bottom: 1px solid #ededed;
                img {
                    width: 44px;
                    height: 44px;
                    margin: 0 20px 25px 0;
                    vertical-align: top;
                }
                .comment-person {
                    display: inline-block;
                    padding-top: 2px;
                    font-size:12px;
                    font-weight:400;
                    line-height:17px;
                }
                span.person-name {
                    color:rgba(10,151,237,1);
                    margin-right: 10px;
                }
                span.time {
                    color:rgba(153,153,153,1);
                }
                p.person-comment {
                    margin-top: 10px;
                    height:20px;
                    font-size:14px;
                    color:rgba(51,51,51,1);
                    line-height:20px;
                }
                .comment-reply {
                    width:966px;
                    height:60px;
                    background:rgba(238,238,238,0.6);
                    border-radius:2px;
                    margin: 20px 0 20px;
                    padding: 20px 0 20px 10px;
                    font-size:14px;
                    font-weight:400;
                    color:rgba(10,151,237,1);
                    line-height:20px;
                    p.reply-text {
                        display: inline-block;
                        height:20px;
                        color: #333;
                    }
                    a.reply {
                        margin-right: 10px;
                    }
                    span.reply-colon {
                        color: #333;
                        margin-right: 5px;
                        margin-left: 2px;
                    }
                }
            }
            
        }
      }
    }
  
  }