.el-breadcrumb {
  height: 20px;
  .el-breadcrumb__item {
    .el-breadcrumb__inner {
      font-weight: 400;
      color: rgba(10, 151, 237, 1) !important;
      font-size: 14px;
      line-height: 20px;
    }
    .el-breadcrumb__separator {
      margin: 0 1px !important;
      color: rgba(10, 151, 237, 1) !important;
    }
  }
}